<!DOCTYPE html>
<html>
<head>
  <title>Forevernote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Forevernote</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><a href="/add"><%= fa_icon 'plus-circle', text: 'Add' %></a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" _lpchecked="1">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Keyword">
          </div>
          <%= fa_icon 'search', class: 'btn btn-default' %>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><%= fa_icon 'sign-out', text: 'Logout' %></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <% if notice.present? %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= alert %></p>
    </div>
  <% end %>

<%= yield %>

</div>

</body>
</html>
